body,html{

    height: 100%;
    width: 100%;
    background: url("adi-goldstein-NErnyh54GS4-unsplash\ \(1\).jpg") no-repeat center center fixed;
    background-size: cover; 


}

hr{

    margin: 30px auto;
    border: 2px solid chartreuse;
    max-width: 120px;
    opacity: 1; 
   
}

.btn-primary:hover{

    background-color: rgb(28, 50, 6);

}


h1{

color: chartreuse;
font-size: 3rem;

}

.btn-primary{
background-color:rgb(22, 94, 3);
text-transform: uppercase;
border: none;
}

.btn_xl{
 
    padding: 15px;
   border-radius: 20px;

}
